<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>com.dean.auto_mount</string>
	<key>ProgramArguments</key>
	<array>
		<string>/Library/Application Support/Dean/auto_mount.sh</string>
	</array>
	<key>StartInterval</key>
	<integer>30</integer>
	<key>StandardErrorPath</key>
	<string>/var/log/com.dean.auto_mount.log</string>
	<key>StandardOutPath</key>
	<string>/var/log/com.dean.auto_mount.log</string>
</dict>
</plist>
